    #scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  background-color: orangered;
  color: white;
  border: none;
  padding-top: 5px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

#scrollToTopBtn:hover {
  background-color: #555;
}
